html, body {
  font-family: Helvetica;
  font-size: 22px;
  color: rgba(255,245,238,0.9);
  /*rgba used to render mulitple opacities*/
  background-color: black;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}
/*-------- Header Styles ---------*/
header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  height: 69px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid seashell;
}

.logo {
  display: flex;
  flex-grow: 1;
}

.logo img {
  height: 50px;
  padding-left: 10px;
}

nav {
  padding-right: 20px;
}

a {
  color: rgba(255,245,238,0.9);
  margin: 0 10px;
}
/*-------- End of Header Styles -------*/
.space {
  height: 69px;
  width: 100%;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
/*---- Top Column Styles incl. mission statement ---*/
.top-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../images/background.jpg);
  height: 700px;
  width: 1200px;
}

.text-content {
  background-color: black;
  width: 100%;
}

h2 {
  margin-top: 20px;
  margin-bottom: 15px;
}

h4 {
  margin-top: 15px;
  margin-bottom: 20px;
}
/*---Middle column styles, tea blends ---*/
.middle-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1000px;
  margin-top: 50px;
}

.image-content {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px 13px;
}

.photo img {
  height: 200px;
  width: 300px;
}

.photo span {
  padding-top: 10px;
}
/*---Bottom-column & Location Styles ---*/
.bottom-column {
  background-image: url(../images/locations.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 1200px;
  margin-top: 60px;
}

.bottom-column .text-content {
  background-color: transparent;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 15px;
}

.location-content {
  display: inline-flex;
  margin-bottom: auto;
}

.location {
  background-color: black;
  width: 300px;
  margin: 0 20px;
}

.location span {
  display: block;
  margin: 35px 0px;
}

#opacity.location {
  color: rgba(255,245,238,1);
}
/*------- Footer Styles -------*/
footer {
  height: 270px;
}

footer.text-content {
  height: 200px;
}

#copyright {
  text-align: left;
  font-size: 18px;
  margin-top: 80px;
  margin-left: 20px;
}
